/* header */
.header {
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-position-y: 17px;
}
.hero-line  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo {
  background-image: url(../images/logo.png);
  background-size: 64px 64px;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
}
.moto {
  
}
.weather {
  
}
.holiday {
  
}
.auth {
  
}

.nav > ul {
  display: flex;
  justify-content: space-around;
}